h1 {
    color: green;
}

p {
    color: coral;
}

/*Lesson 3*/
h1 {
font-family: sans-serif;
}
p {
font-family: fantasy;
}

/*Lesson 4*/
ul {
list-style-type: circle;
}
ol{
list-style-type: upper-roman;
}

/*Lesson 5*/
ul{
list-style-image: url('images/pointer-icon.png');
}